html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("assets/grain.png");
    /*overflow: hidden;*/
}


.videoBox {
    margin: auto;
    top:10px;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    width:90%;
}
.videoBox iframe {
    position: absolute;
    top: 0; left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}


.menu {
    text-align: center;
    padding: 0px;
    margin: 0px;
    background: #fbfbfb;
    float: left;
    width: 33.33%;
    font-family: 'Roboto Condensed', sans-serif;
}

.item {
    /*float: left;
    width: 50%;
    */
    width:500px;
    margin:auto;
}

.block {
    margin:auto;
    width: 100%;
    text-align: center;
}

.contactBlock {
    float: left;
    text-align: center;
    margin-bottom: 30px;
    width: 33.33%;
    font-family: 'Roboto Condensed', sans-serif;
}

.textBlock {
    margin: 0 auto;
    width: 35%;
    text-align: justify;
}

.textContent{
    padding:10px;
    text-align: justify;
}
.title{
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;

}
.mainBody{
    width:90%;
    padding:10px;
}


span {
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width:500px) {
    .menu,
    .item,
    .contactBlock,
    .textBlock {
        width: 100%;
    }
    
    #endBlock{
        height:80%;
    }
    
}

a{
    /*z-index: 1;*/
    
}

a:link {
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #333333;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #333333;
    background-color: transparent;
    text-decoration: underline;
}

#fishery {
    position: relative;
    margin: auto;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
    vertical-align: middle;
    
}


#menuBar{
    position: absolute;
    bottom: 0;
    z-index: 1;
    
}

#contact{
    display:block;
    height: 30%;
    
}

#endBlock{
    display:block;
    height:30%;
}




#logo {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}