html,
body {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#mainDiv {top:0; bottom: 60px; overflow-y: scroll;
}

#bottomBar {
    height:60px; bottom:0; overflow:hidden; 
}

#logo {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.wrapper {
    float: left; position: absolute; display:block; width: 100%; padding: 0; margin: 0; overflow-x: hidden;
}

.menu {
    text-align: center;
    padding: 0px;
    margin: 0px;
    background: #fbfbfb;
    float: left;
    width: 25%;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-y: hidden;
}

.videoBox {
    margin: auto;
    top:10px;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    width:90%;
    border:50px;
}
.videoBox iframe {
    position: absolute;
    top: 0; left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.item {
    width:60%;
   /* float:left;*/
    margin: auto;
    position: relative;

}
.itemWrapper{
    margin: 10px;
    background: linear-gradient(to bottom, #f8f8f8 0%, #ffffff 30%);
    position: relative;
    
}

.block {
    
    margin:auto;
    width: 90%;
    text-align: center;
    clear: left;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}

.contactBlock {
    float: left;
    text-align: center;
    margin-bottom: 30px;
    width: 25%;
    font-family: 'Roboto Condensed', sans-serif;
}

.textBlock {
    margin: 0 auto;
    width: 35%;
    text-align: justify;
}

.textContent{
    margin: 0;
    padding:20px;
    text-align: justify;
}
.title{
    text-align: center;

}
.mainBody{
    width:90%;
    padding:10px;
}


span {
    display: inline-block;
    vertical-align: middle;
}

/*
@media screen and (max-width:1000px) {
    .item, {
        width:50%
    }
}
*/

@media screen and (max-width:500px) {
    .item, .contactBlock, .block{
        width:100%
    }
}

a:link {
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #333333;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #333333;
    background-color: transparent;
    text-decoration: underline;
}
#bottomLeftCorner {
    display: block; position: absolute; right: 0; bottom:0;
}
